/* Background Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Box */
.modal {
  background: white;
  border-radius: 24px;
  width: 500px;
  /* padding: 28px; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;

  align-items: center;
}

.header h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.closeBtn {
  border: none;
  background: transparent;
  font-size: 10px;
  cursor: pointer;
}

.line {
  /* margin-top: 20px; */
  border: none;
  height: 1px;
  background-color: rgba(229, 231, 235, 1);
}

/* Body */
.body {
  font-size: 16px;
  font-weight: 500;
  /* margin-bottom: 15px; */
  text-align: flex-start;
  padding: 28px;

}

.body p {
  margin-bottom: 10px;
}

.otpInputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.otpInputs input {
  width: 56px;
  height: 56px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
}

.otpInputs :focus {
  border-color: rgba(201, 167, 78, 1);

}

.timer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* margin: 20px 10px; */
  font-size: 14px;
}

.red {
  color: red;
}

.resendBtn {
  background: none;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: rgba(201, 167, 78, 1);
  cursor: pointer;
  text-decoration: underline;
}

.resendBtn:disabled {
  color: rgba(201, 167, 78, 0.6);
  cursor: not-allowed;
}

/* Footer */
.continueBtn {
  width: 87%;
  margin-left: 29px;
  padding: 13px 20px;
  background: rgba(209, 213, 219, 1);
  border: none;
  border-radius: 32px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  /* margin-top: 5px; */
  margin-bottom: 20px;
  line-height: 23px;
  cursor: not-allowed;
}

.continueBtn:enabled {
  background: goldenrod;
  color: white;
  cursor: pointer;
}

/* .continueBtn:hover{
    background-color: rgba(201, 167, 78, 1) ;
} */

@media(max-width:580px) {
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0;

  }

  .modal {
    border-radius: 32px 32px 0px 0px;

    /* border-bottom-left-radius: none;
  border-bottom-right-radius: none; */
  }

}