.networkStack {
    background: #111;
    padding: 80px 0 0 0;
    position: relative;
}


.overlay {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 99;
    height: 200px;
    width: 100%;
    transform: translateY(-100%);
}

.counterDiv {
    display: flex;
    padding: 40px 60px;
    align-items: center;
    gap: 60px;
    border-radius: 32px;
    border: 1px solid rgba(171, 171, 171, 0.20);
    background: #1A1A1A;
    max-width: max-content;
    margin: auto;
    margin-bottom: -83px;
    position: relative;
    z-index: 9;
}


.verticalLine {
    width: 50px;
    height: 1px;
    transform: rotate(90deg);
    background: rgba(171, 171, 171, 0.20);
}

.valueDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.valueDiv div {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    /* 62.4px */
}

.valueDiv p {
    color: #A1A1AA;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: unset;
    letter-spacing: 0.5px;
}

.mainContainer {
    border-radius: 160px 160px 0 0;
    border-top: 1px solid rgba(171, 171, 171, 0.40);
    background:
        url('/dots-layer.svg') center 2% no-repeat,
        /* top layer */
        url('/landing-ellipse.png') center 1% no-repeat;
    /* bottom layer */
    /* background gradient */
    background-size: 75%, 120%;
    padding: 125px 0 215px 0;
    position: relative;
}

.headingDiv {
    text-align: center;
    margin: 60px 0px;
    color: white;
    position: relative;
    z-index: 10;
}

.headingDiv>div {
    max-width: max-content;
    margin: auto;
    margin-bottom: 30px;
}



.headingDiv h1, .headingDiv .HeadingTagReplace {
    font-size: 57px;
    font-weight: 500;
    margin: 0;
    background: linear-gradient(180deg, #FFFFFF 60%, #d8bf7e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headingDiv h1 span, .headingDiv .HeadingTagReplace span {
    background: linear-gradient(180deg, #fdf7fe 0%, #d8bf7e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headingDiv p {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: unset;
    max-width: 530px;
    margin: 40px auto 0 auto;
}


.StackParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.singleCard,
.singleCard2 {
    border-radius: 40px;
    border: 0.5px solid rgba(171, 171, 171, 0.40);
    background: #1A1A1A;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    justify-content: space-between;
}

.singleCard {
    padding: 0 0 0 60px;
}

.singleCard2 {
    padding: 0 60px 0 0;
}

.singleList div {
    border: 1px solid #6d6d6d;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleList {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    border: 0.25px solid #242424;
    background: #242424;
    overflow: hidden;
}

.singleCard .data {
    margin: auto;
    padding: 40px 40px 40px 0;
}

.singleCard2 .data {
    margin: auto;
    padding: 40px 0px 40px 40px;

}

.headText {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    letter-spacing: 0.4px;
}

.listData {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.descText {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    margin-top: 16px;
}

.singleList p {
    margin-bottom: unset;
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.8px;
}

.imageCard {
    max-height: fit-content;
    position: relative;
}

.singleCard .imageCard {
    overflow: hidden;
}

.carouselContent {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 250px;
}

/* .singleCard .imageCard {
    border-bottom-right-radius: 40px;
}

.singleCard2 .imageCard {
    border-bottom-left-radius: 40px;
} */

@media (max-width:1024px) {

    .singleCard .data,
    .singleCard2 .data {
        padding: 0px;
    }

    .imageCard img {
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    .imageCard {
        border-radius: 20px 20px 0 0 !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        min-width: unset;
        height: auto;
    }
}

@media (max-width:768px) {

    .networkStack {
        padding: 40px 16px;
    }

    .counterDiv {
        padding: 20px 30px;
        border-radius: 20px;
    }

    .valueDiv div {
        font-size: 32px;
        line-height: 42px;
    }

    .headingDiv h1, .headingDiv .HeadingTagReplace  {
        font-size: 40px;
    }

    .singleCard {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .singleCard2 {
        flex-direction: column;
        padding: 20px;
    }

}

.mainMobileDiv {
    padding: unset !important;
}

@media (max-width:480px) {
    .listData {
        margin-top: 20px;
    }

    .singleCard {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        contain: paint;
    }

    .imageCard img {
        width: 100%;
        object-fit: fill;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        will-change: transform;
    }

    .valueDiv div {
        font-size: 24px;
        line-height: 32px;
    }

    .counterDiv {
        gap: 20px;
        margin: 0px auto -50px auto;
    }

    .mainMobileDiv {
        padding: 0px 16px !important;
    }

    .headingDiv h1, .headingDiv .HeadingTagReplace  {
        font-size: 28px;
    }

    .headingDiv p {
        font-size: 14px;
    }

    .headingDiv {
        margin-bottom: 0px;
    }

    .headText {
        font-size: 26px;
        font-weight: 400;
    }

    .descText {
        font-size: 16px;
        margin-top: unset;
        line-height: 1.2;
        font-weight: 300;
        letter-spacing: 0.7px;
    }

    .singleCard,
    .singleCard2 {
        padding: 14px;
        border-radius: 14px;
    }

    .singleList {
        font-size: 14px;
        padding: 10px 14px;
    }

    .carouselContent {
        top: 55%;
    }

    .singleList p {
        font-size: 14px;
    }

    .mainContainer {
        border-radius: 20px 20px 0 0;
        background-size: 200%, 200%;
        background-position: center 4%, center 7%;
    }

    .networkStack {
        padding: 30px 0px;
        padding-bottom: 0;
    }
}

@media (max-width:350px) {
    .counterDiv {
        gap: 10px;
        padding: 15px 17px;
    }

}