.legends {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.legends li {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
}

.legends li span{
    font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

@media(max-width:480px) {
    .legends {
        gap: 15px;
    }

    .legends li{
        gap: 3px;
    }
    .legends li span{
        font-size: 12px;
    }
}