.body-scroll-lock {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ececf0; */
  background: var(--Gray-50, #F9FAFB);

}

.mob-topbar a,
.topbar a {
  color: #6b7280;
  text-decoration: none;
}

.bell-icon:hover {
  cursor: pointer;
}

.topbar {
  display: flex;
  gap: 8px;
  padding: 20px 0px;
}

.shareAndBell {
  display: flex;
  gap: 10px;
  margin-left: auto;
  display: none;
}

.subcontainer {
  width: 100%;
  max-width: 1326px;
  padding: 0 16px;
}

.body-maincontainer {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 32px;
}

.topbar span {
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 400;
  color: #6b7280;
}

.body {
  /* background-color: rgb(234, 234, 234); */
  width: 62%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.righ-section {
  width: 38%;
}

.ask-ai-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: var(--White-White, #FFF);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
  height: fit-content;
  gap: 24px;
  position: sticky;
  top: 0;
}

.ask-ai-section1 {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 3px 0px grey;
  border-radius: 14px;
  padding: 5px 14px;
}

.ask-ai-section1 button {
  background-color: white;
  text-decoration: underline;
  color: #b18c07;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.ask-ai-button:hover {
  cursor: pointer;
}

.ask-ai-button {
  position: relative;
  display: inline-flex;
  width: 100%;
  padding: 11px 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #E4C575;
  /* White inner area + gradient outer stroke */
  background:
    linear-gradient(#fff, #fff) padding-box,
    /* inner fill */
    linear-gradient(171deg, #FFF2D0 0%, #F6DFAE 0%, #E4C574 44%, #5f4b15 100%) border-box;
  /* border gradient */

  border: 1.5px solid transparent;
  /* needed so border-box shows gradient */
  border-radius: 9999px;
  /* pill shape; very large to match your extreme radius */
  -webkit-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;

  /* subtle softening like in screenshot */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  /* placeholder; remove if not needed */
  cursor: pointer;

  /* optional: make edges slightly sharper on some browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.home {
  color: grey;
}

.body1-buttons {
  /* background: linear-gradient(to left , #FFF2D0 ,#8E6B0F); */
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 75%;
}

.body1-buttons span {
  background: linear-gradient(to right, #f5e3b7, #8E6B0F);
  color: #ffffff;
  padding: 3px 15px 1px;
  background: linear-gradient(to left, #8E6B0F, #f5e4bb);
  letter-spacing: 0.2px;
  border-radius: 7px;
  color: #FFFFFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 28px;
  /* 233.333% */
}


.body-section2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1F2937;
  justify-content: space-between;
}

.body-section2 h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 140% */
  margin-bottom: 0;
}

.private-deal-theme .body-section2 h1 {
  color: #fff;
}

.ask-ai-mob-div {
  display: none;
}

.body-section2 img {
  width: fit-content;
  height: 50px;
}

.body-section2 div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.body-section2 span {
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  font-style: bold;
}

.svg-icons-button {
  display: flex;
  gap: 20px;
  align-items: center
}

.share-button {
  border: none;
  background: transparent;
}



.body-section3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.body-section3 span {
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-style: italic;
}

.body-section4 {
  white-space: nowrap;
  display: flex;

}


.body-section4 button {
  padding: 8px 16px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  background: white;
  border: 1px solid #f6f5f3;
  border-radius: 40px;
}

/* src/app/deals/components/progressbar.css */

.firsthalf {

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06);
}

.exclusive-deal-tag {
  position: absolute;
  top: 25px;
  right: 0px;
  /* width: 140px;  Adjust as needed */
  z-index: 10;
}

.valuation-container .progress-fill {
  background: linear-gradient(45deg, #ffd89e, #b88609);

  height: 100%;
  transition: width 0.3s ease;
}

.progress-container-heading {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.progress-container-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subs {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.subs section {
  padding: 10px 15px;
}

.top section {
  background-color: #f3f4f6;
  border-radius: 16px;
  padding: 15px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top section div {
  display: flex;
  justify-content: space-between;
}

.smallcards-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.smallcards-section section {
  width: 100%;
}

.main-other {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px 8px;
  width: 100%;
  margin-bottom: 20px;
}



.others {
  border-radius: 10px;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.others a {
  color: var(--G2, #E4C575);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}


.others h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
}

.others span {

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.others svg {

  margin-right: 10px;
}

.others a {
  font-weight: 700;
  color: #B59131;
}

.shares-card {
  position: relative;
  border-radius: 12px;
  background: var(--Gray-50, #F9FAFB);
  /* solid inside */
  box-shadow: 0 4px 6px -4px rgba(100, 78, 229, 0.10);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 1;
  /* ensure content stays above border */
}

.shares-card::after {
  content: '';
  position: absolute;
  inset: 0;
  /* shorthand for top/left/right/bottom:0 */
  border-radius: 12px;
  padding: 1px;
  /* border thickness */

  background: linear-gradient(136deg, #FFF2D0 -8.31%, #8E6B0F 96.65%);

  /* mask trick to make only border visible */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1;
  /* keep it behind content */
  box-sizing: border-box;
}

.shares-card .progress-container {
  height: 24px;
  border-radius: 100px;
}

.progress-container {
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 100px;
  display: flex;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
}

.new-shares {
  background-color: #E0BA20 !important;
  /* light gold */
}

.private-qna-btn {
  display: none;
}

.initialsContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.initialBadge {
  padding-top: 2px;
  width: 18px;
  height: 18px;
  background: #e9e0ff;
  /* same lavender tint */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 500;
  color: #6a4fbf;
  /* purple text like PNG */
  border: 1.5px solid #ffffff;
  margin-left: -10px;
  /* overlapping circles */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  font-family: var(--font-dm-sans);
}

.initialBadge:first-child {
  margin-left: 0;
  /* first item should not overlap */
}

.old-shares {
  background-color: #977731 !important;
  /* dark gold */
}

.total-shares {
  text-align: center;
  color: var(--Slate-800, #1E293B);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
}

.labels {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.labels>div {
  flex: 1;
}

.label-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label-item p {
  margin: 0px;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  min-width: 13px;
}

.new-shares-dot {
  background-color: #a07600;
}

.old-shares-dot {
  background-color: #E0BA20;
}

.label-title {
  color: var(--Slate-500, #64748B);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */
}

.label-value {
  color: var(--Slate-800, #1E293B);
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

.fundraising {
  color: var(--Gray-300, #D1D5DB);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.fundraising p {
  margin-bottom: 10px;
}

.fundraising ul {
  padding-left: 16px;
}

.fundraising ul li {
  margin-bottom: 6px;
}


.shares-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
}

.questions-section {
  background: white;
  padding: 25px 20px;
  border-radius: 30px;
}

.questions-section h4 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding: 10px 0px;
  text-align: center;
}

.questions-section span {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.why-section {
  border-radius: 24px;
  padding: 30px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.06);
}

.why-subsection {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.why-section h2 {
  padding: 10px 0px;
  color: var(--White-White, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  /* 140% */
  margin-bottom: 32px;
}

.why-subsection div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 12px 24px 12px;
  background: linear-gradient(180deg, #FDF9EE 0%, rgba(251, 205, 205, 0.00) 90%);
  text-align: center;
  position: relative;
  border-radius: 20px;
  padding-bottom: 35px;
}

.step-num {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #a1aebe;
  border-radius: 50%;
  /* padding: 6px; */
  z-index: 9000;
  position: relative;
  font-size: 12px;
  padding-top: 2px;
}

.why-subsection div svg {
  position: absolute;
  top: -8px;
}

.why-section div img {
  position: absolute;
  top: -20px;
}

.customcars {
  display: flex;
  padding: 20px 0px;
  background: white;
  border-radius: 14px;
  gap: 24px;
  flex-direction: column;
  padding-bottom: 0;
}

.why-subsection div p {
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  margin-bottom: unset;
}

.why-section section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding: 30px 0px; */
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.customcars.navbar {
  background-color: white !important;
}

.customcars.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  background-color: white !important;
}

.customcars .nav-item button {
  color: #6b7280 !important;
  background-color: white;
  padding: 18px 12px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  min-width: fit-content;
  border: none;
}

.customcars .nav-item button:hover {
  color: white !important;
  background-color: #b18c07;
  font-weight: 800;
  border-radius: 100px;
}

.customcars.navbar-nav {
  list-style: none;
}

.customcars.carousel-container {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.lastcarousel {
  padding: 20px 22px 20px 26px;
  border-radius: 24px;
  background: linear-gradient(180deg, #F3F4F6 0%, #FFF 100%);
}

.lastcarousel .carousel-inner {
  border-radius: 20px;
}

.customcars.lastcarousel img {
  width: fit-content !important;
}

.lastcarousel h3 {
  font-size: 20px;
  font-weight: 300;
  font-family: Helvetica;
  line-height: 28px;
}

.lastbtns div {
  gap: 10px;
}

/* Image Styling */
.customcars.carousel-image {
  height: 400px;
  object-fit: cover;
}

/* Caption Styling */
.customcars.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 8px;
}

.customcars.carousel-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;


}

.secondhalf {
  /* padding: 10px 0; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 32px;
  /* overflow: clip; */
}

.overview-container {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.customcars.carousel-text {
  font-size: 16px;
  color: #f8f9fa;
}

/* Headings */
.customcars.carousel-item h2 {
  font-size: 1.8rem;
  color: #343a40;
  margin-bottom: 15px;
}

/* Paragraph text */
.customcars.carousel-item p {
  font-size: 1rem;
  color: #6c757d;
}

.about-section {
  background: linear-gradient(180deg, #f3f4f6, white);
  padding: 24px;
  border-radius: 24px;
}

.mobile-ipo-timeline-section {
  display: none !important;
}

.fallback-container {
  position: relative;
  width: 100%;
  height: 384px;
  /* adjust based on design */
  background-color: #f4f4f4;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fallback-company-logo {
  width: 50px !important;
  height: 50px;
  object-fit: contain;
  background-color: #fff;
  border-radius: 50%;
  /* margin-bottom: 85px; */
}

.ipo-opendate {
  font-size: 13px;
  font-weight: 400;
  color: white !important;
}

.fallback-label {
  font-family: var(--font-playfair-display);
  font-style: italic;
  font-weight: 600;
  /* screenshot looks like 500–600 italic */
  color: white;
  font-size: 45px;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  max-width: 80%;
}

.fallback-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.fallback-view-content {
  width: 100%;
  height: 100%;
  /* position: relative; */
  padding: 10px 0px 0px 15px;
}

.fallback-view-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pitch-deck-copyright {
  /* position: absolute; */
  bottom: 0px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.current-year {
  font-size: 11px;
  font-weight: 400;
  color: white !important;
}

.text-copyright {
  font-size: 11px;
  font-weight: 400;
  color: white !important;
}

.pitch-deck {
  width: 100%;
  background: linear-gradient(180deg, #f3f4f6, #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  border-radius: 24px;
}

.pitch-deck-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.pitch-deck h4 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
  /* padding-bottom: 10px;
  padding-left: 10px; */
  margin: 0;
}


.pitch-deck .image-container {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}

.pitch-deck img {
  width: 100%;
  display: block;
  transition: filter 0.3s ease;
}

/* Blur image on hover */
.pitch-deck .image-container:hover img {
  filter: blur(2px);
}

/* Overlay container */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show overlay on hover */
.pitch-deck .image-container:hover .overlay {
  opacity: 1;
}

.pitch-overlay-btn {
  padding: 13px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 100px;
}

/* Button styling */
.overlay-btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}




#bod-accordion button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: flex-start !important;
  /* ✅ */
}

.customcars.accordion-button::after {
  position: absolute;
  right: 8px;
}

.bod-section {
  background: linear-gradient(180deg, #f3f4f6, #ffffff);
  padding: 28px 30px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.bod-section h4 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.image-stack {
  display: flex;
  align-items: center;
  border: 1px solid #B59131;
  background: #f4eddc;
  padding: 10px 20px;
  border-radius: 40px;
  width: 100%;
  justify-content: space-between;
}



.image-stack .s1 {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #1f2937;
  width: 75%;

}

.image-stack div img {
  width: -moz-fit-content;
  width: fit-content;
  height: 18px;
  border-radius: 50%;
  border: 0px solid white;
  object-fit: cover;
  margin-left: -20px;
  background: transparent;
  margin-left: -10px;

}

.image-stack img {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  border-radius: 50%;
  border: 0px solid white;
  object-fit: cover;
  margin-left: -20px;
  background: transparent;
  margin-left: -10px;
  transform: rotate(270deg);
}

.image-stack img:first-child {
  margin-left: 0;
  /* No overlap for first image */
}

.timeline-step {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.timeline-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

.date,
.timeline-content .label {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.date {
  white-space: nowrap;
}

.timeline {
  position: relative;
  border-radius: 12px;
  background: var(--Gray-50, #F9FAFB);
  /* solid inside */
  padding: 12px;
  display: flex;
  flex-direction: column !important;
  gap: 30px;
  z-index: 1;
  overflow: hidden;
}

.timeline::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(136deg, #FFF2D0 -8.31%, #8E6B0F 96.65%);

  border-radius: 12px;
  padding: 1px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  box-sizing: border-box;
}




.view-details-btn {
  height: 50px;
  border-radius: 16px;
  background: var(--White-White, #FFF);
  /* Base Shadow */
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06);
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.view-details-btn .left-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.view-details-btn p {
  font-size: 14px;
  font-weight: 500;
  color: #6B7280;
  margin: unset;
}

.view-details-btn .link {
  color: var(--Dark-Gold, #B18C07);
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 9.5%;
  /* 1.52px */
  text-underline-offset: 17.5%;
  /* 2.8px */
  text-underline-position: from-font;
}

.greenDot {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: #16A34A;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
  animation: blink 1.5s infinite;
}

@keyframes blink {

  0%,
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    opacity: 0.8;
  }

  50% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
    opacity: 1;
  }
}

.completed {
  position: relative;
}

.completed::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 26px;
  /* distance from icon */
  transform: translateX(-50%);
  width: 2px;
  height: 41px;
  background-image: url("data:image/svg+xml;utf8,<svg width='2' height='41' xmlns='http://www.w3.org/2000/svg'><rect width='2' height='41' fill='%23B59131'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
}

.not-completed {
  position: relative;
}

.not-completed::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 28px;
  /* distance from icon */
  transform: translateX(-50%);
  width: 2px;
  height: 41px;
  background-image: url("data:image/svg+xml;utf8,<svg width='2' height='41' xmlns='http://www.w3.org/2000/svg'><rect width='2' height='41' fill='%#A1AEBE'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
}

.timeline .timeline-step:last-child .completed::after,
.timeline .timeline-step:last-child .not-completed::after {
  display: none;
}


.ask-ai-section2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ipo-timeline-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ipo-timeline-section h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 120% */
  margin-bottom: 0;
}

.timeline-icon {
  width: fit-content;
}

.timeline-content {
  width: -webkit-fill-available;
  /* padding: 0px 10px; */
}

.not-completed {
  position: relative;
}

.not-completed::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 28px;
  /* adjust distance from icon */
  transform: translateX(-50%);
  width: 26px;
  height: 41px;
  background-image: url("data:image/svg+xml;utf8,<svg width='26' height='41' viewBox='0 0 26 41' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='12.1992' y='40.8447' width='40.0092' height='1.60037' transform='rotate(-90 12.1992 40.8447)' fill='%23A1AEBE'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
}

.mob-topbar {
  display: none;
}

.topbar {
  display: flex;
  align-items: center;
}

.shares-header {
  text-align: center;

}

.shares-header h5 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}

.shares-header h5:last-child {
  margin-bottom: 0px;
}

.private-deal-theme .shares-header h5 {
  color: #FFF;

  /* 142.857% */
}

.private-deal-theme .why-section h2 {
  color: white;
}

/* Private Deal Theme Styles */
.private-deal-theme {
  background-color: #000 !important;
  color: white !important;
  background-image: url('/blackBgEllipse.png') !important;
  background-repeat: no-repeat;
  background-position: top center;
}

.private-deal-theme .overview-container {
  background-color: #171717 !important;
  color: white !important;
  border-radius: 32px;
  padding-bottom: 20px;
}

.private-deal-theme .topbar,
.private-deal-theme .mob-topbar {
  /* background-color: #000000 !important; */
  padding: 20px 8px !important;
  margin: 0 !important;
}

/* .private-deal-theme .subcontainer {
  background-color: #000000 !important;
} */

/* Hide FAQSection and Accountfooter on private deal theme */
.private-deal-theme .faq-section,
.private-deal-theme .account-footer {
  display: none !important;
}

.account-footer {
  width: 100%;
  display: none;
}



.private-deal-theme .body {
  background: #000 !important;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06) !important;
  color: white !important;
}

.private-deal-theme .firsthalf {
  background: #171717 !important;

  color: white !important;
  padding: 24px !important;
}

/* .first-navbar .navigation-tabs{

} */

/* .private-deal-theme .secondhalf {
  background: #171717 !important;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06) !important;
  color: white !important;
} */

.private-deal-theme .body-section2 span {
  color: white !important;
}

.private-deal-theme .body-section3 span {
  color: white !important;
}

.private-deal-theme .body-section3 svg path {
  fill: white;
}

.private-deal-theme .body1-buttons span {
  background: #FFF3D733 !important;
  color: #ffff !important;
}

.private-deal-theme .topbar span,
.private-deal-theme .mob-topbar span {
  color: white !important;
  line-height: 0;
}

.private-deal-theme .mob-topbar .breadcrumArrow path {
  stroke: #FFFFFF !important;
}

.private-deal-theme .home {
  color: #cccccc !important;
}

.private-deal-theme .dea {
  color: white !important;
}

.private-deal-theme .dea a {
  color: white !important;
}

.private-deal-theme .ask-ai-section {
  background-color: #2d2d2d !important;
  color: white !important;
}

.private-deal-theme .ask-ai-button {
  background: #0000000F;
}

.private-deal-theme .shares-card {
  border-radius: 12px;
  border: 1px solid var(--G3, #FFF2D0);
  background: var(--Gray-950, #030712);
  box-shadow: 0 4px 6px -4px rgba(100, 78, 229, 0.10);

  /* box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06); */
}

.private-deal-theme .shares-section svg line {
  stroke: #878787 !important;
}

.private-deal-theme .total-shares {
  color: #FFFFFF !important;
}


.private-deal-theme .why-section {
  background: #171717 !important;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06) !important;
  color: white !important;
}

.private-deal-theme .why-section section {
  padding: 0px;
}

.private-deal-theme .why-section h2 {
  color: white !important;
}

.private-deal-theme .why-subsection div {
  background: linear-gradient(to bottom, #000000 0%, #00000000 70%) !important;

  color: white !important;
}

.private-deal-theme .why-subsection div svg path {
  fill: white;

}

.private-deal-theme .why-subsection div svg .path {
  fill: #C9A74E;
}


.private-deal-theme .why-subsection div h4 {
  color: white !important;
}

.private-deal-theme .customcars {
  background: #171717 !important;
  /* box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.06) !important; */
  color: white !important;
}

.private-deal-theme .customcars .nav-item button {
  background-color: #2d2d2d !important;
  color: #cccccc !important;
  border: 1px solid #404040 !important;
}

.private-deal-theme .customcars .nav-item button:hover {
  background-color: #b18c07 !important;
  color: white !important;
}

.private-deal-theme .lastcarousel {
  background: #27272A !important;

  color: white !important;
}

.private-deal-theme .lastcarousel h3 {
  color: white !important;
}

.private-deal-theme .about-section {
  background: #27272A !important;
  color: white !important;
}

.about-section h4 {
  color: var(--White-White, #1F2937);

  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  /* 140% */
}

.about-section p {
  color: var(--Gray-500, #6B7280);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  opacity: 0.8;
}

.private-deal-theme .about-section h4 {
  color: white !important;
}

.private-deal-theme .about-section p {
  color: #D1D5DB !important;
}

.private-deal-theme .pitch-deck {
  background: #27272A !important;

  color: white !important;
}

.private-deal-theme .pitch-deck h4 {
  color: white !important;
}

.qualities {
  display: flex;
  align-items: center;
  gap: 16px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  flex-wrap: wrap;
}

.qualities span {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  border-radius: 40px;
  border: 1px solid rgba(68, 49, 151, .27);
  padding: 0 10px;
  padding-top: 2px;
}

.private-qualities {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  flex-wrap: wrap;
}

.s2 {
  padding: 0px 10px;
  border-radius: 40px;
  background-color: #fff;
}

.s2 img {
  width: 28px;
  height: unset;

}

.private-qualities span {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  padding: 0 10px;
  padding-top: 2px;
  color: var(--Primary-color, #C9A74E);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.private-deal-theme .bod-section {
  background: #27272A !important;

  color: #9CA3AF !important;
}

.private-deal-theme .bod-section h4 {
  color: white !important;
}

.private-deal-theme .questions-section {
  background-color: #2d2d2d !important;
  color: white !important;
}

.private-deal-theme .questions-section h4,
.private-deal-theme .questions-section span {
  color: white !important;
}

.private-deal-theme .timeline {
  background-color: #404040 !important;
  border-color: #666666 !important;
}

.private-deal-theme .timeline-content .label,
.private-deal-theme .timeline-content .date {
  color: white !important;
}

.private-deal-theme .step-num {
  background: #404040 !important;
  border-color: #666666 !important;
  color: white !important;
}

.private-deal-theme .top section {
  background-color: #1D1D1D !important;
  color: white !important;
}

.private-deal-theme .others {
  color: white !important;
}

.private-deal-theme .others h6 {
  color: #878787 !important;
}

.private-deal-theme .others h6 svg path {
  stroke: white !important;

}

.private-deal-theme .others span {
  color: white !important;
}

.private-deal-theme .others a {
  color: #b18c07 !important;
}

.private-deal-theme .label-title {
  color: #878787 !important;
}

.private-deal-theme .label-value {
  color: white !important;
}

.private-deal-theme .progress-container-heading {
  color: #cccccc !important;
}

.private-deal-theme .progress-container-heading span {
  color: white !important;
}

.private-deal-theme .smallcard-section-subcontainer-div {
  width: 100% !important;
}

.private-deal-theme .smallcards-section span {
  color: white;

}

.private-deal-theme .smallcard-section-subcontainer .subs1-top {
  display: none;
}

.private-deal-theme .image-stack {
  background: #404040 !important;
  border-color: #b18c07 !important;
  color: white !important;
}

.private-deal-theme .image-stack .s1 {
  color: white !important;
}

.private-deal-theme .view-details-btn {
  background-color: #404040 !important;
  color: white !important;
}

.private-deal-theme .view-details-btn .link {
  color: #b18c07 !important;
}

.private-deal-theme .accordion-button {
  /* background-color: #2d2d2d !important; */
  color: white !important;
  border-color: #404040 !important;
}

.private-deal-theme .accordion-button:not(.collapsed) {
  background-color: none !important;
  color: white !important;
}

.private-deal-theme .accordion-body {

  color: white !important;
}

.private-deal-theme .accordion-item {
  background-color: #27272A;
}



.private-deal-theme .custom-carousel-prev {
  background-color: #27272A;
  border: 1px solid #505050;
}

.private-deal-theme .custom-carousel-next {
  background-color: #27272A;
  border: 1px solid #505050;
}

.qna-mob-btn {
  display: none;
}

.hideCardUI {
  position: relative;
}

.hideCardUI::after {
  position: absolute;
  content: "";
  inset: 0;
  background: #0000000F;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  pointer-events: not-allowed !important;
  z-index: 990;
  border-radius: 24px;
  overflow: hidden;
}

.hideCardUI::after,
.hideCardUI::after * {
  pointer-events: not-allowed !important;
}

.ratingContainer {
    position: absolute;
    top: 0;
    right: 106px;
    width: 30px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.ratingStripImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
}

.ratingText {
    position: relative;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    margin-top: -21px;
}

.ratingStar {
    position: absolute;
    bottom: -7px;
    z-index: 3;
    width: 59px;
    height: 52px;
}

@media(max-width:1024px) {
  .body-maincontainer {
    gap: 15px;
  }

  .body {
    width: 56%;
  }

  .righ-section {
    width: unset;
  }


}

@media(max-width:920px) {
  .qna-mob-btn {
    display: block;
    display: flex;
    align-items: center;
    border: 1px solid #B59131;
    background: #f4eddc;
    padding: 10px 10px;
    border-radius: 40px;
    width: 100%;
    justify-content: space-between;
  }
  .ratingContainer{
    right: 50px;
  }

  .private-qna-btn {
    display: flex;
    align-items: center;
    border: 1px solid #B59131;
    margin-bottom: 10px;
    background: #C9A74E33;
    padding: 10px 10px;
    border-radius: 40px;
    width: 100%;
    justify-content: space-between;
  }

  .s1 {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #1F2937;
    width: 75%;
  }

  .private-qna-btn .s1 {
    color: #FFFFFF;
    ;
  }

  .qna-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2000;
  }

  .qnaSlider {
    width: 100%;
    max-height: 90%;
    background: #111;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding: 20px; */
    animation: slideUp 0.3s ease-out;
    /* transform: translateY(-100%); */
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

  .s2 img {
    width: 40px;
    height: 24px;
    border-radius: 40px;
  }

  .body {
    width: 100%;
  }

  .ask-ai-section {
    display: none;
  }

  .righ-section {
    display: none;
  }



  .body-section4 section {
    text-align: left !important;
  }

  .step-num {

    height: 23px;
    width: 23px;
    text-align: center;
    background: white;
    border: 1px solid #a1aebe;
    border-radius: 50%;
    /* padding: 6px; */
    z-index: 9000;
    position: relative;
    font-size: 12px;
  }

  .ask-ai-mob-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 24px;
  }


  .ask-ai-mob-div button {
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;


  }


  @media (min-width: 401px) and (max-width: 900px) {
    .lastcarousel h3 {
      font-size: 16px;
    }

    .customcars .nav-tabs {
      gap: 10px;
    }

    .pitch-deck {
      padding: 30px 10px;
    }

    .pitch-deck h4 {
      padding-left: 0;
    }

    .customcars .nav-item button {
      min-height: fit-content;
      width: fit-content;
      padding: 10px 10px;
      font-size: 15px;
    }



    .mobile-ipo-timeline-section {
      display: flex !important;
      padding: 0px 10px;
    }

    .mobile-ipo-timeline-section h3 {
      font-size: 14px;
      font-weight: 400;
    }

    .mobile-ipo-timeline-section .timeline-content {
      font-size: 14px;
      font-weight: 400;
      padding: 0px 20px;
    }

    .main-other {
      gap: 5px;
    }

    .others a {
      font-size: 14px;
    }

    .why-subsection div svg {
      width: 30px;
      height: 30px;
    }

    .shareAndBell {
      display: flex;
    }




    /* .ask-ai-mob-div {
    width: 100%;
    display: flex;
    justify-content: center;
  } */

    /* .ask-ai-mob-div button {
    height: 52px;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
  } */

    .mob-topbar div {
      display: flex;
      gap: 18px;
      align-items: baseline;
    }

    .mob-topbar .breadcrumArrow svg {
      height: 12px !important;
      width: 6px !important;
    }

    .ss {
      height: 10px !important;
      width: 10px !important;
    }

    /* .mob-topbar div svg {
    width: 20px !important;
    height: 20px !important;
  } */

    .mob-topbar svg {
      height: 24px !important;
      width: 24px !important;
    }

    .body-section2 svg {
      display: none;
    }



    .private-qualities span {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
    }

    .secondhalf {
      padding: 10px 0px;
    }



    .subcontainer {
      width: 100%;
      /* background-color: #ebebeb; */
    }

    .body-maincontainer {
      flex-direction: column;
    }

    .body1-buttons span {
      font-size: 10px;
    }

    .body-section4 button {
      font-size: 10px;
      padding: 4px 5px;
      font-weight: 300;
    }



    .body-section4 {
      justify-content: space-between;
    }

    .progress-container-heading span {
      font-size: 12px;
    }

    .progress-container {
      height: 12px;
    }

    .smallcards-section span {
      font-size: 10px;
    }

    .smallcards-section svg {
      width: 20px;
      height: 20px;
    }

    .subs {
      flex-direction: row;
    }


    .ask-ai-section {
      display: none;
    }

    .mid-svg {
      width: 100%;
    }

    .total-shares {
      font-size: 16px;
    }

    .shares-section svg {
      width: 75px;
    }

    .why-section h2 {
      padding: 10px 10px;
      font-size: 16px;
    }

    .label-value {
      font-size: 12px;
    }

    .why-section {
      padding: 0px 15px;
      border-radius: 12px;
      background: linear-gradient(0deg, white, #f4f4f469);
    }

    .why-subsection div {
      padding: 30px 0px;
    }

    .top section {
      padding: 8px 12px;
    }

    .others h6 {
      font-size: 12px;
      margin-bottom: 2px;
    }

    .label-item div {
      display: flex;
      flex-direction: column;
    }

    .label-item div p {
      margin: 2px;
    }

    .label-item {
      align-items: baseline;
    }



    .progress-container-heading {
      padding: 0px 5px;
    }



    .body-section2 div {
      display: flex;
      gap: 10px;
    }

    .why-subsection div h4 {
      font-size: 14px;
    }

    .why-section section {
      padding: 10px 0px;
    }

    .body {
      gap: 20px;
    }

    .about-section h4 {
      font-size: 16px;
    }

    .about-section p {
      font-size: 14px;
    }

    .pitch-deck h4 {
      font-size: 18px;
    }

    .bod-section h4 {
      font-size: 18px;
    }

    .accordion-button {
      font-size: 14px !important;
      padding: 5px 5px;
    }

    .accordion-button:not(.collapsed)::after {
      height: 5px;
      width: 5px;
    }

    .about-section {
      font-size: 12px;
      padding: 15px 10px;
    }



    .body-maincontainer {
      flex-direction: column;
    }

    .body {
      width: 100%;
      background-color: white;
    }

    .body1-buttons span {
      font-size: 12px;
    }

    .body-section4 button {
      font-size: 14px;
      font-weight: 300;
      padding: 6px 10px;
    }



    .body-section4 {
      justify-content: space-between;
      gap: 12px !important;
    }

    .progress-container-heading span {
      font-size: 14px;
    }

    .progress-container {
      height: 12px;
    }

    .smallcards-section span {
      font-size: 14px;
    }

    .smallcards-section svg {
      width: 22px;
      height: 22px;
    }

    .subs {
      flex-direction: row;
    }

    .carousel-item img {
      /* width: 100%; */
      border-radius: 20px;
    }

    .ask-ai-section {
      display: none;
    }

    .mid-svg {
      width: 100%;
    }

    .shares-section svg {
      width: 75px;
    }

    .why-section h2 {
      padding: 10px 10px;
      font-size: 16px;
    }

    .label-value {
      font-size: 12px;
    }

    .why-section {
      padding: 0px 15px;
      border-radius: 12px;
      background: linear-gradient(0deg, white, #f4f4f469);
    }

    .why-subsection div {
      padding: 30px 0px;
    }

    .top section {
      padding: 8px 12px;
    }

    .others h6 {
      font-size: 14px;
      margin-bottom: 2px;
    }

    .label-item div {
      display: flex;
      flex-direction: column;
    }

    .label-item div p {
      margin: 2px;
    }

    .label-item {
      align-items: baseline;
    }

    .progress-container-heading {
      padding: 0px 5px;
    }


    .why-section section {
      padding: 10px 0px;
    }

    .body {
      gap: 20px;
    }

    .about-section h4 {
      font-size: 18px;
    }

    .label-title {
      font-size: 14px;
    }

    .pitch-deck h4 {
      font-size: 18px;
    }

    .bod-section h4 {
      font-size: 18px;
    }

    .share-button svg path {
      stroke: #8E6B0F !important;
    }



    .accordion-button {
      font-size: 12px !important;
      padding: 5px 5px;
    }

    .accordion-button:not(.collapsed)::after {
      height: 5px;
      width: 5px;
    }

    .about-section {
      font-size: 12px;
      padding: 15px 10px;
    }
  }


  @media (max-width: 480px) {

    .subcontainer {
      padding: 0 10px;
    }

    .body1-buttons{
      width: 65%;
    }
    .private-deal-theme {
      background-image: url('/mobileEllipse.png') !important;
      background-size: contain;
    }

    .private-deal-theme .firsthalf {
      padding: 15px !important;
    }

    .lastcarousel h3 {
      font-size: 16px;
    }

    .pitch-deck {
      /* padding: 30px 10px;*/

      padding: 12px 10px;
      border-radius: 14px;
      padding-top: 18px;
    }

    .pitch-deck h4 {
      padding-left: 0;
    }

    .customcars .nav-item button {
      min-height: fit-content;
      width: fit-content;
      padding: 10px 10px;
      font-size: 13px;
    }

    .mobile-ipo-timeline-section {
      display: flex !important;
    }

    .mobile-ipo-timeline-section h3 {
      font-size: 14px;
      font-weight: 400;
    }

    .mobile-ipo-timeline-section .timeline-content {
      font-size: 14px;
      font-weight: 400;
      padding: 0px 20px;
    }

    .firsthalf {
      padding: 20px 16px;
    }

    .topbar {
      display: none;
    }

    .overview-container {
      padding: 0px 15px;
    }

    .mob-topbar {
      font-size: 16px !important;
      display: flex;
      justify-content: space-between;
      padding: 16px 8px;
    }

    .completed::after {
      top: 16px;
    }

    .bank-det {
      padding: 0 !important;
    }

    .bank-det p {
      text-align: left;
    }


    .why-subsection div svg {
      width: 24px;
      height: 24px;
    }

    .lastcarousel {
      padding: 10px;
      border-radius: 14px;
    }

    .bod-section {
      padding-bottom: 0 !important;
    }

    .secondhalf {
      padding: 10px 5px;
    }

    .timeline {
      gap: 20px;
    }

    .timeline-step {
      gap: 10px;
    }

    .timeline-content {
      gap: 6px;
    }

    .subcontainer {
      width: 100%;
      /* background-color: #ebebeb; */
    }

    .body-maincontainer {
      flex-direction: column;
      margin-bottom: 10px;
    }

    .date {
      font-size: 13px;
      text-align: flex-end;
    }

    .timeline-content .label {
      font-size: 13px;
    }

    .share-button svg path {
      stroke: #8E6B0F !important;
    }

  }

  .body1-buttons span {
    /* background: linear-gradient(to left , #FFF2D0 ,#8E6B0F); */
    font-size: 12px;
    padding: 5px 10px;
    line-height: 20px;
  }

  .body-section4 button {
    font-size: 10px;
    padding: 4px 5px;
    font-weight: 300;
  }

  .body-section2 span {
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
  }

  .body-section4 {
    justify-content: space-between;
  }

  .progress-container-heading span {
    font-size: 12px;
  }

  .progress-container {
    height: 12px;
  }

  .smallcards-section {
    gap: 8px;
  }

  .smallcards-section span {
    font-size: 12px;
  }

  .smallcards-section svg {
    width: 20px;
    height: 20px;
  }

  .body-section2 svg {
    display: none;
  }

  .others a {
    font-size: 12px;
  }

  .others {
    padding: 2px 5px;
    gap: 0;
  }

  .main-other {
    gap: 5px;
  }

  .subs {
    flex-direction: row;
  }

  .carousel-item img {
    /* width: 100%; */
    border-radius: 20px;
  }

  .ask-ai-section {
    display: none;
  }

  .mid-svg {
    width: 100%;
  }

  .total-shares {
    font-size: 12px;
  }

  .secondhalf {
    margin-bottom: 20px;
  }

  .shares-section svg {
    width: 75px;
  }

  .why-section h2 {
    padding: 10px 10px;
  }

  .label-value {
    font-size: 12px;
  }

  .why-section {
    padding: 0px 15px;
    border-radius: 12px;

  }

  .why-subsection {
    gap: 20px;
  }

  .why-subsection div {
    padding: 30px 0px;
  }

  .top section {
    padding: 8px 12px;
  }

  .others h6 {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .label-item div {
    display: flex;
    flex-direction: column;
  }

  .label-item div p {
    margin: 2px;
  }

  .label-item {
    align-items: baseline;
  }

  .body-section3 svg {
    height: 55px;
    width: 55px;
  }

  .body-section3 span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
  }

  .progress-container-heading {
    padding: 0px 5px;
  }

  .body-section2 img {
    height: 35px;
    width: 35px;
  }

  .body-section3 {
    align-items: flex-start;
  }

  .body-section3 svg {
    height: 20px;
    width: 35px;
  }

  .body-section2 {
    align-items: flex-start;
  }

  .body-section2 div {
    display: flex;
    gap: 17px;
  }

  .why-subsection div h4 {
    font-size: 12px;
  }

  .why-section section {
    padding: 10px 0px;
  }

  .body {
    gap: 20px;
  }





  .label-title {
    font-size: 12px;
  }

  .pitch-deck h4 {
    font-size: 18px;
  }

  .bod-section h4 {
    font-size: 18px;
  }

  .accordion-button {
    font-size: 14px !important;
    padding: 5px 5px;
  }

  .accordion-button:not(.collapsed)::after {
    height: 5px;
    width: 5px;
  }

  .about-section {
    font-size: 12px;
    padding: 15px 10px;
  }

  .mob-topbar svg {
    height: 24px !important;
    width: 24px !important;
  }

  .mob-topbar .breadcrumArrow svg {
    height: 15px !important;
    width: 8px !important;
  }

  .mob-topbar div {
    display: flex;
    gap: 18px;
    align-items: center;
  }



  .ss {
    height: 10px !important;
    width: 10px !important;
  }



  .mob-topbar .bell-icon svg {
    height: 25px;
    width: 25px;
    /* color: #B59131 !important; */
  }

  .mob-topbar .bell-icon svg path {
    stroke: #B59131 !important;
  }


  .customcars .nav-tabs {
    gap: 10px;
  }

  .customcars {
    gap: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .overview-container {
    gap: 10px;
  }

  .righ-section {
    width: 100%;
  }

  .dea {
    line-height: 0;
  }

  .subcontainer {
    padding: 0 14px;
    ;
  }
}

@media (max-width:450px) {
  .fallback-label {
    font-size: 16px;
  }

  .fallback-company-logo {
    margin-bottom: unset;
  }

  .fallback-container {
    height: auto;
  }

  .fallback-company-logo {
    height: 35px !important;
    width: 35px !important;
  }

  .pitch-deck-copyright {
    bottom: -7px;
  }

  .ipo-opendate {
    margin-top: 15px;
    font-size: 6px;
  }

  .pitch-deck-copyright div,
  .ipo-opendate {
    line-height: 1.2;
  }

  .pitch-deck-copyright div {
    font-size: 4px;
  }

  .pitch-overlay-btn {
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }

  .about-section {
    border-radius: 14px;
    pad: 12px 10px;
  }

  .pitch-deck .image-container {
    border-radius: 12px;
  }

  .body-section2 h1 {
    font-weight: 500;
  }

  .s1 {
    font-size: 14px;
  }
}



.private-deal-theme .override-background {
  background: transparent !important;
}

@media (max-width:400px) {
  .ratingContainer{
    right: 16px;
  }
}
