.marqueeSectionContainer {
    display: flex;
    flex-direction: column;
    padding: 8px 0; 
    background-color: #FFFFFF;
    /* overflow: hidden; */
    width: 100%;
}

.marqueeSection {
    min-height: 32px;
    overflow: hidden;
    width: 100%;
}

.marqueeContent {
    display: flex;
    align-items: center;
    gap: 80px;
    animation: marquee 10s linear infinite;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    width:100%;
}


 @keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.marqueeItem {
    display: inline-flex; 
    align-items: center;
    flex-shrink: 0;
}

.NiftySection {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    width: max-content;
    color: #6B7280;
    /* font-family: 'Inter'; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.NiftyPoints {
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    color: #111827;
}

.spanedNiftySection {
    font-size: 12px;
    color: #FB2D3F;
    margin-left: 5px;
}
.spanedNiftySections {
    font-size: 12px;
    color: rgba(21, 128, 61, 1);
    margin-left: 5px;
}

/* Pause on hover (optional) */
.marqueeContent:hover {
    animation-play-state: paused;
}

.homeFootermob{
    display: none ;
}

@media (max-width: 768px) {
    .homeFootermob{
        display: block;
    }
}

