@import "https://rsms.me/inter/inter.css";

@property --r {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --r2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

.wrapper {
  background: transparent;
  color: #eee;
  padding: 130px 0 20px;
  text-align: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.toggle {
  accent-color: #fff;
}

.label {
  display: inline-block;
  margin-top: 12px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.card {
  min-width: 300px;
  height: 75px;
  position: relative;
  border-radius: 14px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 14px;
  background: transparent;
  z-index: 1;
  transition: opacity 0.2s ease;
}


.card:hover::after {
  opacity: 0.5;
}

.toggle:checked ~ .cards .card::after {
  opacity: 0.5;
}

.simple {
    display: flex;
    justify-content: center;
    align-items: center;
  background: conic-gradient(
    from var(--r),
    rgba(208, 160, 52, 0) 0%,
    rgba(208, 160, 52, 0.4) 8%,
    rgba(208, 160, 52, 1) 16%,
    rgba(208, 160, 52, 0.4) 24%,
    rgba(208, 160, 52, 0) 32%
  );
  animation: rotating 3s linear infinite;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}

.advanced {
  background: conic-gradient(
    from calc(var(--r2) - 80deg) at var(--x) 50px,
    rgba(208, 160, 52, 0) 0%,
    rgba(208, 160, 52, 1) 20%,
    rgba(208, 160, 52, 0) 25%
  );
  animation: rotating2 3s linear infinite, x 3s linear infinite;
}

@keyframes x {
  0%,
  100% {
    --x: 80px;
  }
  32.82275711%,
  50% {
    --x: 520px;
  }
  82.82275711% {
    --x: 80px;
  }
}

@keyframes rotating2 {
  0%,
  32.82275711% {
    --r2: 0deg;
  }
  50%,
  82.82275711% {
    --r2: 180deg;
  }
  100% {
    --r2: 360deg;
  }
}


.plusDeals {
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
}

.viewAllBtnContainer {
    max-width: 120px;
    max-height: 40px;
    padding: 8px 16px 8px 16px;
    display: flex;
    gap: 3px;
    border-radius: 34778.34px;
    background-color: #302F2B;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    cursor: pointer;
}








.ViewAllText {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin: 0px;
    cursor: pointer;
    padding-top: 2px !important;
    
    }

.upperRightArrow {
width: 24px;
height: 24px;
position: relative;

}
.newDeals {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    border-radius: 12px;
    background: #FFFFFF;
    overflow: hidden;
    border: 2px solid transparent;
    width: 99%;
    /* height: 99%; */
    margin: auto auto;
    height: 71px;
  }
  

  .newDealsHeading {
    max-width: 171px;
    max-height: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
}


.greenDot {
    width: 10px;
    height: 10px;
    background-color: #16A34A;
    border-radius: 100px;
    position: relative;
    animation: blinkPulse 0.4s ease-in-out infinite;
    /* box-shadow: 0 0 4px rgba(22, 163, 74, 0.90), 0 0 16px rgba(22, 163, 74, 0.70); */
    /* box-shadow:  */
   /* 0 0 18px 7px rgba(22, 163, 74, 0.40) */

}

@keyframes blinkPulse {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 18px 4px rgba(22, 163, 74, 0.40);
        /* box-shadow: 0 0 4px rgba(22, 163, 74, 0.40); */
    }
    50% {
        opacity: 0.5;
        /* transform: scale(1.1); */
        /* box-shadow: 0 0 6px rgba(22, 163, 74, 4.0); */
        box-shadow: 0 0 18px 7px rgba(22, 163, 74, 0.40);
    }
}

@media(max-width:480px){
.simple{
    display: none;
}

}