.faqContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0px;
}

.faqGrid {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* === Single Card === */
.faqCard {
    background: #141414;
    border: 1px solid #252525;
    border-radius: 12px;
    /* allow glow around the toggle icon to be visible */
    overflow: visible;
    transition: all 0.3s ease;
}

/* === Question Button === */
.questionButton {
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleIcon {
    width: 45px;
    height: 45px;
    background-image: url('/landing-asset/faq.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    transition: transform 0.3s ease;
    color: black;
    font-size: 1px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleIcon img {

    width: 24px;
    height: 24px;
}

.iconOpen {
    transform: rotate(45deg);
}


.answerWrapper {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.answerText {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 22.4px */
    text-align: left;
    padding: 16px;
    padding-top: 12px;
    margin: unset;
}


.open {
    border-color: #555;
    box-shadow: 0 0 10px rgba(255, 204, 91, 0.1);
}


@media (max-width: 768px) {
    .faqGrid {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {


    .questionButton {
        padding: 10px 14px;
    }

    .answerText {
        font-size: 14px;
        padding: 0px 15px 12px 15px;
    }

}