  
  .container {
  background-color: #FFFFFF;
  color: #1F2937;
  padding:24px 30px ;
  border-radius: 32px;
  /* font-family: Arial, sans-serif; */
}

.title {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
.dropdown {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.header {
  /* border: 1px solid red; */
 /* margin: 30px 0px 20px 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  cursor: pointer;

}

.hr {
  /* border: none; */
  height: 1px;
  background-color: #F3F4F6;
  opacity: 0.1;
}


.collapse,
.collapsing {
  transition: height 0.35s ease; /* Bootstrap default */
}


.products {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(3, 1fr); /* default: 1 column (mobile) */
  margin-top: 1rem;
  margin-bottom: 24px;
}

.card {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;

}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100px;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.clientcardImage{
  width: 100%;
  object-fit: cover;
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 12px;
}
.clientcardwrap{
  background-color: #000;
  border-radius: 12px;
  padding: 10px;
}
.clientName{
  color: var(--Slate-950, #fff);
text-align: center;
font-family: "Helvetica Neue";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

/* Gradient overlay from bottom */
.overlay {
     position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .2), transparent);
    pointer-events: none;
}

/* Product name text */
.productName {
 position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
    z-index: 2;
    letter-spacing: 0.5px;
    text-align: center;
}



/* .cardImage {
  border-radius: 10px;
  margin-bottom: 0.5rem;
} */

.ptag {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 10px 0px;
  margin: 0;
  margin-bottom: unset;
}
.p{
  margin-bottom: unset;
}

 .strong {
  display: inline-block;
  color:#64748b;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0px;
  margin-bottom: unset;
}

.ul{
   padding: 0px ,0px;
  margin: 0;

}

.ul li {
  font-size: 14px;
  font-weight: 400;
  color: #64748b;
  /* padding: 0px 0px ; */
  /* list-style: none; */
  

}

.ul .list{
    font-size: 14px;
  font-weight: 400;
  color: #64748b;
  padding: 5px 0px ;
  list-style: disc;
  /* margin-left: 25px; */
  
}

.highlight {
  color: #B59131;
  font-weight: bold;
}

.clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 1rem;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage {
  object-fit: cover;
}

.clientCard {

  width: 368px;
  height: 115px;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.iconWrapper.open {
  transform: rotate(180deg);
}


/* ==============================================Add Private deal css =========================================================== */
.privateDeal {
    background: #171717 !important ;
    color: #FFFFFF !important;
}


.privateDeal .products{
  background-color: #171717 !important;
}
.privateDeal .strong{
  color: #9CA3AF !important;
}
.privateDeal .ul li, 
.privateDeal .p{
  color: #D4D4D8 !important;
}
.privateDeal .clientCard{
  background-color: #FFFFFF !important;
  color: #171717 !important;
}

.businessModal p{
  color: #000;
  font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px;
}
.businessModal strong{
  /* color: var(--Gray-400, #9CA3AF); */
font-family: "Helvetica Neue";
font-size: text-sm;
font-style: normal;
font-weight: var(--font-weight-font-normal, 400);
line-height: leading-5; /* 142.857% */
margin-bottom: unset !important;
}

.privateDeal .businessModal strong{
  color: var(--Gray-400, #9CA3AF);
}

.privateDeal .businessModal p{
  color: var(--Zinc-300, #D4D4D8) !important;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px;
}
.businessModal{
  padding-top: 15px;
}



/* =======================Responsive ui =========================== */

@media(max-width:920px){
  .container{
    padding: 24px;
    padding-top: 10px;
  }
}

/* @media(max-width:480px){
  .container{
    padding-top: 10;
  }
} */

@media(max-width:480px) {
  .container{
    padding: 15px;
    padding-top: 0;
  }
  .clients{
    grid-template-columns:  repeat(2, 1fr);;
  }

  .clientName{
    font-size: 14px;
  }
}
