.container {
  max-width: 936px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin: 0px auto;
  padding: 34px;
  border-radius: 24px;
  color: #333;
  line-height: 1.6;
  /* margin-top: 60px; */
}

.heading {
  font-size: 24px;
  font-weight: 300;
  
  color: rgba(31, 41, 55, 1);
}
.hr{
   margin-top: 25px;
  margin-bottom: 30px;
  background-color: rgba(229, 231, 235, 1);
  height: 1px;
  border: none;
}

.date {
  color: rgba(107, 114, 128, 1);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.date span {
  font-weight: 500;
}

.intro {
  font-weight: bolder;
  color: rgba(31, 41, 55, 1);
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 7px;
  margin: unset;
}

.text {
  margin-bottom: 20px;
  color: rgba(75, 85, 99, 1);
  font-size: 14px;
  font-weight: 400;
  font-weight: light;
}

.h2 {
  margin-top: 20px;
   color: rgba(31, 41, 55, 1);
  font-size: 16px;
  font-weight: 700;
}
.p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
    margin: unset;
  
}

.ul {
  padding-left: 20px;
  list-style-type: disc;
  font-size: 14px;
    color: rgba(75, 85, 99, 1);
}

.li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
    color: rgba(75, 85, 99, 1);
}
@media (max-width: 1024px) {
  .container {
    padding: 20px;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 16px;
  }
  .heading {
    font-size: 1.5rem;
  }
  .intro, .h2 {
    font-size: 0.95rem;
  }
}

@media (max-width: 580px) {
  .container {
    width: 100%;
    border-radius: 0px;
    padding: 15px;
  }
  .heading {
    font-size: 20px;
    font-weight: 300;

  }
  .intro, .h2 {
    font-size: 14px;
    font-weight: 500;
  }
  .text, .p, .li, .date {
    font-size: 14px;
    font-weight: 400;
    flex-wrap: wrap;

  }
  .hr{
    display: none;
  }
  .heading{
    display: none;
  }
}