.investors {
    background: #000;
}

.investorscontainer {
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
    padding: 0;
    position: relative;
}

.investorscontenttop h2 {
    color: #F7FCFF;
    text-align: center;
    font-family: Manrope;
    font-size: 44px;
    font-weight: 500;
    line-height: 52.8px;
    letter-spacing: -0.68px;
    max-width: 407px;
    /* margin: auto; */
    /* padding-top: 102px;
    padding-bottom: 47px; */
    text-align: flex-start;
}

.investorscontenttop {
    position: relative;
    display: flex;
    padding-top: 85px;
    padding-bottom: 50px;
    justify-content: center;

}

.investorscontenttop h2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 2px;
    background: #C9A74E;
    z-index: 1;
    border-radius: 2px;
}

.investorscontenttop p {
    color: #BAC3C7;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.22px;
    max-width: 725px;
    text-align: flex-start;
    /* margin: auto; */
    /* padding-bottom: 50px; */
}

.investorscontentbottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 20px; */
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}


.investorscontentbottomcard {
    padding: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.20);
    /* padding-top: 99px; */
}

.investorscontentbottomcard:first-child {
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);

}

.investorscontentbottomcard:nth-child(2) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);

}

.investorscontentbottomcard h3 {
    /* text-shadow: 0 0 20px #EB4D21, 0 0 6px #EB4D21; */
    -webkit-text-strokeWidth: 1px;
    -webkit-text-stroke-color: #F7FCFF;
    font-family: Manrope;
    font-size: 64px;
    font-weight: 500;
    line-height: 70.4px;
    letter-spacing: -1.28px;
    text-shadow: 0 0 20px #FFF, 0 0 6px #FFF;
}

.investorscontentbottomcard h4 {
    color: #F7FCFF;
    font-family: Manrope;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    letter-spacing: -0.4px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.investorscontentbottomcard p {
    color: #BAC3C7;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.22px;
}


.featuresContainerlines {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: repeating-linear-gradient(to right,
            rgba(255, 255, 255, 0.20) 0px,
            rgba(255, 255, 255, 0.20) 1px,
            transparent 1px,
            transparent calc(1px + 7px));
    background-size: calc(1px + 7px) 100%;
}

.investorscontentbottomcontainer {
    position: relative;
    /* padding-bottom: 59px; */
}

.containerlinesarrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--white-white-20, rgba(255, 255, 255, 0.20));
    /* padding: 0px 161px; */
    background: #000;
    margin: 0px auto;

}

.containerlinesarrow p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    width: 48px;

}

.scrollIndicator {
    /* position: absolute; */
    right: 45px;
    bottom: 150px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid var(--white-white-50, rgba(255, 255, 255, 0.50));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 150ms ease, box-shadow 150ms ease,
        background 150ms ease;
    background: transparent;
}

.seprateboxcontent {
    height: 78px;
    width: 100%;
    background: #000;
    max-width: 1320px;
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
    padding: 0;

}

.scrollIndicator:hover {
    transform: translateY(-2px);
}

@media (max-width: 1660px) {
    .containerlinesarrow {
        justify-content: center;
        padding: 0px 0px;
        gap: 40px;
    }
}

@media (max-width: 1500px) {
    .containerlinesarrow {
        gap: 12px;
    }

}

@media (max-width: 1399px) {

    .seprateboxcontent {
        max-width: 1140px;
    }
}

@media (min-width: 1441px) {

    .seprateboxcontent,
    .investorscontainer {
        max-width: 1290px;
    }

}

@media (max-width: 1440px) and (min-width: 1200px) {

    .seprateboxcontent,
    .investorscontainer {
        max-width: 1140px;
    }

}

@media (max-width: 1199px) and (min-width: 1025px) {

    .seprateboxcontent,
    .investorscontainer {
        max-width: 1000px;
    }
}


@media (max-width: 1200px) {
    .containerlinesarrow {
        max-width: 1140px;
    }
}

@media (max-width: 1024px) {
    .featuresContainerlines {
        height: 50px;
        background-image: repeating-linear-gradient(to right,
                rgba(255, 255, 255, 0.20) 0px,
                rgba(255, 255, 255, 0.20) 1px,
                transparent 1px,
                transparent calc(1px + 6px));
        background-size: calc(1px + 6px) 100%;
    }

    .containerlinesarrow {
        display: none;
    }
}

@media (max-width: 991px) {
    .investorscontenttop {
        flex-direction: column;
        justify-content: center;
    }

    .investorscontenttop h2 {
        font-size: 32px;
        line-height: 42.8px;
        max-width: 100%;
        text-align: center;
    }

    .investorscontenttop p {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        padding: 0 20px;
    }

    .colsixone {
        padding-right: 12px !important;
    }

    .colsixtwo {
        padding-left: 12px !important;

    }

    .seprateboxcontent {
        max-width: 720px;
    }




}

@media (max-width: 767px) {
    .investors {
        background: #000;
        padding: 0 20px;
    }

    .featuresContainerlines {
        height: 40px;
        background-image: repeating-linear-gradient(to right,
                rgba(255, 255, 255, 0.20) 0px,
                rgba(255, 255, 255, 0.20) 1px,
                transparent 1px,
                transparent calc(1px + 5px));
        background-size: calc(1px + 5px) 100%;
    }



    .investorscontentbottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .investorscontentbottomcard:nth-child(3) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);

    }

    .investorscontentbottomcard h3 {
        font-size: 50px;
    }

    .investorscontainer {
        max-width: 100%;
    }
}

/* @media (max-width: 640px) {
    .investorscontainer {
        max-width: 100%;
    }
} */