.section {
  height: 500vh;
  /* 5 steps worth of scroll */
  position: relative;
  background: #000;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  background: #000;
  overflow: hidden;
  max-width: 1320px;
  margin: auto;
  border-right: 1px solid #434343;
  border-left: 1px solid #434343;
}

/* LEFT */
.left {
  width: 40%;
  padding-left: 39px;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
}

.textBlock {
  position: absolute;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  width: calc(100% - 90px);
}

.textBlock.visible {
  pointer-events: auto;
}

.textBlock.active {
  opacity: 1;
  transform: translateY(0);
}

.textBlock h2 {
  color: #F5F5F5;
  font-family: Manrope;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*   
  .summaryBullets {
    list-style: none;
    padding: 0;
  } */

.summaryBullets {
  list-style: none;
  padding: 0;
  padding-right: 50px;
}

.bullets li {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

/* .bullets li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 1.5rem;
  } */

/* RIGHT */
.right {
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 36px;
  position: relative;
  padding-right: 22px;
}

.initialTitleOverlay {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  width: 100%;
  transition: opacity 0.6s ease, transform 0.6s ease;
  max-width: 290px;
}

.initialTitleOverlay h1 {
  color: #FFF;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -0.8px;
  margin: 0;
  text-align: flex-start;
}

.initialTitleOverlay .subTitle {
  display: block;
  background: var(--G3, linear-gradient(113deg, #D4CBB5 15.04%, #8E6B0F 84.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Manrope;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.8px;
  width: 340px;
}

.initialTitleOverlay.visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.initialTitleOverlay.hidden {
  opacity: 0;
  transform: translate(-50%, -60%) scale(0.95);
  pointer-events: none;
}

.stickyHeaderTitle {
  position: absolute;
  top: 12%;
  left: 18%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  width: 1054px;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.stickyHeaderTitle h2 {
  color: #F7FCFF;
  text-align: center;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 52.8px;
  /* 120% */
  letter-spacing: -0.68px;
  margin: 0;
}

.stickyHeaderTitle .stickySubTitle {
  background: var(--G3, linear-gradient(113deg, #D4CBB5 15.04%, #8E6B0F 84.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Manrope;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 52.8px;
  letter-spacing: -0.68px;
}

.stickyHeaderTitle.visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.stickyHeaderTitle.hidden {
  opacity: 0;
  transform: translateX(-50%) translateY(-20px);
  pointer-events: none;
}


.pillarWrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.pillar {
  height: 80%;
  max-height: 600px;
  width: auto;
  transform: translateY(-120%);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease;
}

.pillar.show {
  transform: translateY(0);
  opacity: 1;
}

.pillar.static {
  transform: translateY(0);
  opacity: 1;
}

.pillar.downFade {
  transform: translateY(80px);
  opacity: 0.3;
}

.pillar.fade {
  transform: translateY(80px);
  opacity: 0.3;
}

.pillar.finalDown {
  transform: translateY(80px);
  opacity: 1;
}

.pillar.hide {
  transform: translateY(120%);
  opacity: 0;
}

.bullets ul {
  padding-left: 1.2rem;
}


.pillarText {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease;
  pointer-events: none;
  z-index: 2;
  margin-bottom: 20px;
  width: 252px;
}

.pillarText.textShow {
  transform: translateX(-50%) translateY(0px);
  opacity: 1;
}

.pillarText.textShow.textDown {
  transform: translateX(-50%) translateY(120px);
  opacity: 1;
  width: 205px;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease;
  margin-bottom: 50px;
}

.pillarText.textShow.textDown .tagline {
  font-size: 12.8px;
}

.pillarText.textShow.textDown .pillarTitle {
  font-size: 19.2px;
}

.pillarText.textShow.textDown .pillarSubtitle {
  font-size: 12.8px;
}

.pillarText.textHide {
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
}

.pillarImage {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.tagline {
  color: #F5F5F5;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.8px;
  border-radius: 12px;
  border: 1px solid #000;
  background: #7A6120;
  padding: 10px;
}

.pillarTitle {
  color: #F5F5F5;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  /* line-height: 48px; */
  letter-spacing: -0.8px;
  margin: 0;
  margin-top: 20px;
}

.pillarSubtitle {
  color: #F5F5F5;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.8px;
  white-space: normal;
  margin: 0;
}

/* .left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 38px;
  transform: translateY(-50%);
  width: 1px;
  height: 693px;
  background: rgba(255, 255, 255, 0.20);
} */

.left:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 34px;
  width: 1px;
  height: 70%;
  background: rgba(255, 255, 255, 0.20);
}

/* .right:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 1px;
  height: 693px;
  background: rgba(255, 255, 255, 0.20);
} */

.featuresContainerlines {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.20);
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(to right,
      #000 0px,
      #434343 1px,
      #000 1px,
      #000 calc(1px + 7px));
  background-size: calc(1px + 7px) 100%;
}

@media (min-width: 1440px) and (max-height: 950px) {
  .stickyHeaderTitle {
    top: 11%;
  }
}

@media (min-width: 992px) {
  .horizonalLine {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.20);
  }
}


@media (min-height: 800px) and (max-height: 700px) {
  .left:before {
    height: 60%;
  }
}


@media (max-width: 1400px) {

  .stickyWrapper,
  .sticky {
    max-width: 1140px;
    margin: auto;
  }

  .right {
    width: 64%;
  }

  .left {
    padding-left: 48px;
  }
}

@media (max-width: 1260px) {
  .left {
    padding-left: 28px;
    width: 36%;
  }

  .pillarText.textShow.textDown {
    width: 165px;
  }

  .pillarSubtitle {
    font-size: 14px;
  }

  .pillarTitle {
    font-size: 20px;
  }

  .tagline {
    font-size: 14px;
  }

  .pillarText {
    width: 212px;
  }

  .right {
    gap: 5px;
    width: 61%;
  }

  .stickyHeaderTitle .stickySubTitle {
    font-size: 28px;
  }

  .stickyHeaderTitle h2 {
    font-size: 34px;
    line-height: 32.8px;
    max-width: 996px;

  }

  .textBlock h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .initialTitleOverlay h1 {
    font-size: 32px;
    line-height: 40px;

  }


  .initialTitleOverlay .subTitle {
    font-size: 28px;
    line-height: 40px;

  }
}

@media (min-width: 1441px) {

  .stickyWrapper,
  .sticky {
    max-width: 1290px;
  }

}

@media (max-width: 1300px) {
  .stickyHeaderTitle {
    left: 20%;

  }

}


@media (max-width: 1200px) {
  .stickyHeaderTitle {
    left: 25%;

  }

}

@media (max-width: 1200px) {
  .stickyHeaderTitle {
    left: 26%;

  }

}

@media (max-width: 1100px) {
  .stickyHeaderTitle {
    left: 25%;

  }

}

@media (max-width: 1000px) {
  .stickyHeaderTitle {
    left: 23%;

  }

}


@media (max-width: 1440px) and (min-width: 1200px) {

  .stickyWrapper,
  .sticky {
    max-width: 1140px;
  }

}

@media (max-width: 1199px) and (min-width: 1025px) {

  .stickyWrapper,
  .sticky {
    max-width: 1000px;
  }

  .left {
    width: 41%;
  }
}

@media (min-height: 1100px) and (max-width: 1200px) and (min-width: 768px) {
  .sticky {
    flex-direction: column;
    max-width: 954px;
  }

  .left {
    width: 100%;
    padding: 40px 20px;
    height: 37%;
    top: 20%;
    left: -2%;

    /* border-bottom: 1px solid rgba(255, 255, 255, 0.20); */
  }

  .right {
    width: 100%;
    height: 63%;
    gap: 15px;
  }

  .horizonalLine {
    top: 24%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.20);
  }

  .textBlock {
    padding: 20px;
    left: 19%;
    width: 100%;
  }

  .pillar {
    height: 60%;
  }

  .textBlock h2 {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .bullets li {
    font-size: 1.3rem;
    margin-bottom: 0px;
    line-height: 1.8rem;
  }

  .pillarTitle {
    font-size: 1.5rem;
  }

  .pillarSubtitle {
    font-size: 1rem;
  }

  .initialTitleOverlay h1 {
    font-size: 38px;
  }

  .textBlock h2 {
    width: 70%;
    line-height: 1.3;
  }

  .initialTitleOverlay span {
    font-size: 38px;
    width: 100%;
  }

  .stickySubTitle {
    font-size: 24px !important;
    line-height: 40px;
  }


  .stickyHeaderTitle h2 {
    font-size: 34px;
  }

  .initialTitleOverlay {
    max-width: 470px;
    top: 58%;
    left: 60%;
    transform: translateX(-50%);

  }

  .stickyHeaderTitle {
    /* display: ; */
    top: -38%;
    left: 52%;
  }

  .left::before {
    content: unset;
  }

  .pillarText {
    margin-bottom: 0px;
  }

  .pillarText.textShow.textDown {
    margin-bottom: 20px;

  }

}


@media (max-height: 1024px) and (min-height: 700px) {
  .left {
    padding-top: 73px;
  }

  .horizonalLine {
    top: 26%;
  }

  .left:before {
    height: 74%;
  }

  .textBlock h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .bullets {
    font-size: 16px;
    margin-bottom: -5rem;
  }
}


@media (max-width: 1024px) and (max-height: 1100px) {

  .sticky {
    max-width: 954px;
  }

  .featuresContainerlines {
    height: 50px;
    /* background-image: repeating-linear-gradient(to right,
        rgba(255, 255, 255, 0.20) 0px,
        rgba(255, 255, 255, 0.20) 1px,
        transparent 1px,
        transparent calc(1px + 6px)); */
    /* background-size: calc(1px + 6px) 100%; */
  }

  .initialTitleOverlay {
    max-width: 220px;
  }

  .initialTitleOverlay .subTitle {
    width: 286px;

  }

  .left {
    width: 36%;
  }

  .right {
    width: 64%;
  }

  .stickyHeaderTitle {
    top: 14%;
    left: 25%;
  }

  .summaryBullets {
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .right {
    padding-right: 0px;
  }
}

@media (max-width: 640px) {
  .featuresContainerlines {
    height: 40px;
    /* background-image: repeating-linear-gradient(to right,
        rgba(255, 255, 255, 0.20) 0px,
        rgba(255, 255, 255, 0.20) 1px,
        transparent 1px,
        transparent calc(1px + 5px)); */
    /* background-size: calc(1px + 5px) 100%; */
  }
}

@media (min-width: 769px) and (max-height: 780px) {
  .stickyHeaderTitle {
    top: 12%;
  }

  .stickyHeaderTitle h2 {
    font-size: 34px;
    line-height: 40px;
  }

  .stickyHeaderTitle .stickySubTitle {
    font-size: 26px;
    line-height: 36px;
  }

  .textBlock h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .initialTitleOverlay h1 {
    font-size: 30px;
    line-height: 36px;
  }

  .initialTitleOverlay .subTitle {
    font-size: 26px;
    line-height: 36px;
  }

  .pillar {
    max-height: 480px;
  }

  .pillarText {
    margin-bottom: 10px;
  }

  .pillar.static {
    transform: translateY(90px);
  }

  .pillar.fade {
    transform: translateY(90px);
  }

  .pillar.show {
    transform: translateY(25px);
  }

  .pillarText.textShow {
    transform: translateX(-50%) translateY(33px);
  }
}

/* Responsive */
/* @media (max-width: 1024px) {
  .left {
    width: 45%;
    padding: 60px 40px;
  }

  .right {
    width: 55%;
    gap: 20px;
  }

  .textBlock h2 {
    font-size: 2rem;
  }

  .pillarTitle {
    font-size: 2rem;
  }
} */

@media (max-width: 991px) and (max-height: 1024px) {
  .sticky {
    flex-direction: column;
    max-width: 720px;
  }

  .left {
    width: 100%;
    padding: 40px 20px;
    height: 37%;
    top: 4%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.20); */
  }

  .right {
    width: 100%;
    height: 63%;
    gap: 15px;
  }

  .pillar {
    height: 60%;
  }

  .textBlock h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .bullets li {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .pillarTitle {
    font-size: 1.5rem;
  }

  .pillarSubtitle {
    font-size: 1rem;
  }

  .initialTitleOverlay h1 {
    font-size: 32px;
  }

  .stickyHeaderTitle h2 {
    font-size: 16px;
  }

  .initialTitleOverlay {
    max-width: 470px;
    top: 53%;
  }

  .stickyHeaderTitle {
    display: none;
  }

  .left::before {
    content: unset;
  }

  .pillarText {
    margin-bottom: 0px;
  }

  .pillarText.textShow.textDown {
    margin-bottom: 20px;

  }
}

@media (max-width: 992px) and (max-height: 950px) {
  .sticky {
    max-width: 100%;
  }

  .left {
    width: 80%;
    margin: 0 auto;
  }

  .initialTitleOverlay {
    max-width: 100%;
    top: 53%;
    left: 50%;
  }

  .initialTitleOverlay .subTitle {
    width: 100%;
  }

  .initialTitleOverlay h1 {
    font-size: 40px;
    /* line-height: 20px; */
    text-align: center;
    padding: 0 20px;
  }

  .initialTitleOverlay .subTitle {
    font-size: 32px;
    /* line-height: 20px; */
  }

  .bullets {
    text-align: center;
    padding: 0 20px;
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bullets li {
    font-size: 14px;
    line-height: normal;
    position: relative;
    padding-left: 15px;
    margin-bottom: 4px;
    display: block;
    width: fit-content;
    /* text-align: left; */
  }

  .bullets li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
  }

  .summaryBullets li::before {
    content: unset
  }

  /* Staggered diagonal alignment (Stairs effect) relative to center */
  /* .bullets li:nth-child(1) {
    transform: translateX(30px);
  }

  .bullets li:nth-child(2) {
    transform: translateX(15px);
  }

  .bullets li:nth-child(3) {
    transform: translateX(0px);
  }

  .bullets li:nth-child(4) {
    transform: translateX(-15px);
  }

  .bullets li:nth-child(n+5) {
    transform: translateX(-30px);
  } */

  /* .bullets li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.20);
  } */

  .textBlock h2 {
    font-size: 32px;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    line-height: 34px;
  }

  .summaryBullets {
    padding: 0 20px;
    padding-top: 30px;
  }

  .pillar {
    width: 110px;
  }

  .pillar.fade {
    transform: translateY(40px);
    opacity: 0.3;
  }

  .pillar.downFade {
    transform: translateY(40px);
    opacity: 0.3;
  }

  .pillar.finalDown {
    transform: translateY(40px);
    opacity: 1;
  }

  .tagline {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }

  .pillarTitle {
    font-size: 14px;
    margin-top: 5px;
  }

  .pillarSubtitle {
    font-size: 12px;
    line-height: 16px;
    padding-top: 5px;
  }

  .pillarText {
    width: 100%;
  }

  .left {
    height: 100%;
  }

  .section {
    padding: 0 20px;
  }

  .right {
    height: 50%;
  }

  .pillarText.textShow.textDown {
    width: 100%;
  }

  .pillarText.textShow.textDown .tagline {
    font-size: 12px;
  }

  .pillarText.textShow.textDown .pillarTitle {
    font-size: 13px;
  }

  .pillarText.textShow.textDown {
    margin-bottom: 75px;

  }

  .pillarText.textShow.textDown .pillarSubtitle {
    font-size: 10.8px;
  }

  .textBlock {
    width: calc(100% - 0px);
    left: 0;
    top: calc(2% - -111px);
  }

}

@media (max-width: 800px) and (max-height: 950px) {
  .textBlock {
    top: calc(2% - -80px);
  }
}

@media (max-width: 420px) {


  .sticky {
    max-width: 100%;
  }

  .initialTitleOverlay {
    max-width: 250px;
    top: 53%;
  }

  .initialTitleOverlay h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .initialTitleOverlay .subTitle {
    font-size: 28px;
    line-height: 32px;
  }

  .bullets li {
    font-size: 14px;
    line-height: 20px;
  }

  .textBlock h2 {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 28px;
  }



  .pillar.fade {
    transform: translateY(40px);
    opacity: 0.3;
  }

  .pillar.downFade {
    transform: translateY(40px);
    opacity: 0.3;
  }

  .pillar.finalDown {
    transform: translateY(40px);
    opacity: 1;
  }

  .tagline {
    font-size: 10px;
    line-height: 15px;
  }

  .pillarTitle {
    font-size: 14px;
    margin-top: 5px;
  }



  .pillarText {
    width: 100%;
  }

  .left {
    height: 50%;
  }

  .section {
    padding: 0 20px;
  }

  .right {
    height: 50%;
  }

  .pillarText.textShow.textDown {
    width: 100%;
  }

  .pillarText.textShow.textDown .tagline {
    font-size: 10px;
  }

  .pillarText.textShow.textDown .pillarTitle {
    font-size: 13px;
  }

  .pillarText.textShow.textDown {
    margin-bottom: 75px;

  }

  .pillarText.textShow.textDown .pillarSubtitle {
    font-size: 10.8px;
  }

  .pillarText.textShow.textDown .tagline {
    font-size: 10px;
  }

  .tagline {
    font-size: 10px;
  }

  .pillarSubtitle {
    font-size: 10px;
  }

  .left {
    height: 70%;
  }

  .right {
    height: 48%;
  }

  .pillar {
    width: 98px;
  }

  .bullets {
    padding-top: 20px;
  }

  .textBlock {
    top: unset;
  }
}

@media (max-width: 375px) {
  .pillar {
    width: 88px;
  }
}